<pre>
    <%= JSON.stringify(item,null,5) %>
</pre>
<form method="post" action="/todo/updateTodoItem">
    <input type="hidden" name="itemId" value="<%= item._id %>">
    new item: 
    <input type="text" 
           value="<%= item.item %>"
           name="item"><br>
    </select>
    <br>
    <input type="submit" value="store">
</form>